<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="General">
        <setting id="download_folder" type="folder"
                 label="Folder for downloading files" default="" />
        <setting id="buffer_size" type="number"
                 label="Buffer size (MB)" default="35"/>
        <setting id="ratio_limit" type="labelenum"
                 label="Seeding ratio limit (0 - no limit)" values="0|1|1.5|2|3|4|5" default="1.5" />
        <setting id="time_limit" type="number"
                 label="Keep torrents for (hours, 0 - no limit)" default="0" />
        <setting id="expired_action" type="labelenum"
                 label="Action for expired torrents" values="pause|delete" default="pause" />
        <setting id="delete_expired_files" type="bool"
                 label="Delete files for expired torrents" enable="eq(-1,1)" default="false"/>
    </category>
    <category label="Advanced">
        <setting id="torrenter_host" type="text"
                 label="Torrent server host" default="localhost" />
               <setting id="server_port" type="number"
                 label="Torrent server port" default="8668"/>
        <setting id="remote_mode" type="bool"
                 label="Remote mode (local torrent server won't start)" default="false" />
        <setting id="torrent_port" type="number"
                 label="Torrent port" default="25335" enable="eq(-1,false)" />
    </category>
</settings>
