<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="General">
    <setting id="download_folder" type="folder"
        label="Folder for downloading files" default="" />
    <setting id="keep_files" type="bool"
        label="Keep files after playing" default="false"/>
    <setting id="show_info" type="bool"
        label="Show on-screen torrent info" default="false"/>
    <setting id="buffer_size" type="number"
        label="Buffer size (%)" default="5"/>
  </category>
</settings>
