.icon-pause {
    background:url('/static/img/pause.png') no-repeat center center;
    }
.icon-resume {
    background:url('/static/img/resume.png') no-repeat center center;
    }
.icon-delete {
    background:url('/static/img/delete.png') no-repeat center center;
    }
.icon-delete {
    background:url('/static/img/delete.png') no-repeat center center;
    }
.icon-magnet-plus {
    background:url('/static/img/magnet_plus.png') no-repeat center center;
    }
.icon-pause-red {
    background:url('/static/img/pause-red.png') no-repeat center center;
    }
.icon-resume-red {
    background:url('/static/img/resume-red.png') no-repeat center center;
    }
.icon-link-add {
    background:url('/static/img/link_add.png') no-repeat center center;
    }
.icon-torrent-add {
    background:url('/static/img/folder_torrents.png') no-repeat center center;
    }
